html {
    --font-size: 16px;
    --outline-color: blue;
    --outline: 2px solid var(--outline-color);
    --background-color: #bd2110;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    --header-background-color: #dedede;
    --title-color: white;
    --title-background-color: black;

    /** BORDER STUFF */
    --border-color: black;
    --border: 2px solid var(--border-color);

    /** POST STUFF */

    --post-mobile-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
    --post-desktop-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    --post-color: white;
    --post-background-color: #393939;
    --post-header-background-color: #dedede;
    --post-header-color: black;
    --post-hamburger-color: #99cc33;
    --post-header-pin-color: white;
    --post-header-pin-background-color: black;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", Arial, "Courier New", Courier, monospace;
    font-size: var(--font-size);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: var(--outline);
}

body {
    background-color: var(--background-color);
}

@keyframes checkerboard {
    from {background-position: 0;}
    to {background-position: -50px;}
}

.checkerboard-pattern {
    height: calc(100vh + 100px);
    width: calc(100vw + 100px);
    background: repeating-linear-gradient(transparent, transparent 24px, #841808 24px, #841808 26px, transparent 26px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 24px, #841808 24px, #841808 26px, transparent 26px, transparent 50px);
    position: fixed;
    z-index: -999; /* far background */

    animation: checkerboard 1s infinite;
    animation-timing-function: linear;
}

#heading {
    width: 100vw;
    border-bottom: var(--border);
}

#heading .title-information {
    display: flex;
    width: 100%;
    min-height: 100px;
}

#heading .title-card {
    background-color: var(--title-background-color);
    flex: 3;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
}

#heading .title-avatar {
    height: 80px;
}

#heading .title {
    margin: 0;
    color: var(--header-background-color);
    flex: 1;
    text-align: center;
}

#heading .secondary-card {
    display: none;
}

#heading .header-background {
    display: none;
}

#heading .border {
    background-color: yellow;
    height: 4px;
}

#heading .secondary-information {
    display: none;
}

/** MOBILE NAVIGATION */
#mobile-nav {
    display: block;
    background-color: #dedede;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid black;
    transition: top 0.3s;
}

#mobile-nav nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
    font-size: 1.2em;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

#mobile-nav nav ul li {
    display: inline-flex;
    padding-inline-end: 8px;
    margin: auto;
}

#mobile-nav nav ul li:last-child {
    padding-inline-end: 0;
}

#mobile-nav nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    padding: 12px;
    height: 100%;
}

#mobile-nav nav ul li a .text {
    font-size: 1.25em;
}

#mobile-nav nav ul li a .material-sybols-outlined {
    font-weight: normal;
}

#mobile-nav nav ul li a:hover {
    background-color: red;
}

/** MAIN */
#main {
    padding: 12px 0;
}

#main .main-wrapper {
    padding-block-end: 12px;
}

/** POSTS */

.post-container {
    margin-block-end: 20px;
}

.post-container:last-child {
    margin-block-end: 0;
}

.post-container .pin-check, .post-container .post-heading .notes-check {
    background-color: var(--post-header-pin-background-color);
    color: var(--post-header-pin-color);
    padding-block: 4px 2px;
    padding-inline: 8px 14px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 50%;
    clip-path: polygon(0 0, 0 calc(100% + 4px), 100% calc(100% + 4px), calc(100% - 12px) 0);
}

.not-hamburger {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
    min-height: 24px;
}

.not-hamburger div {
    background-color: var(--post-hamburger-color);
    aspect-ratio: 1 / 3;
    height: 100%;
    transform: skew(15deg);
}

.post-container .post {
    box-shadow: var(--post-mobile-shadow);
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: var(--post-background-color);
}

.post figure, .post figure a {
    line-height: 0;
}

.post figure a {
    display: block;
}

.post-heading .post-info {
    background-color: var(--post-header-background-color);
    border-bottom: var(--border);
}

.post-heading .post-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    overflow: auto;
    gap: 4px;
}

.post-heading .post-info .post-metadata * {
    color: var(--post-header-color);
    text-decoration: none;
    vertical-align: middle;
}

.post-heading .post-info .post-metadata .reblogged-from .material-symbols-outlined {
    margin-inline-end: 4px;
}

/** TODO: change to screen */
@media SCREEN and (min-width: 700px) {
    #heading {
        position: sticky;
        top: 0;
        z-index: 500;
        box-shadow: var(--shadow);
    }

    #heading .title-information {
        position: absolute;
        top: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75%) 54px, calc(75% - 54px) 100%, 0% 100%);
        z-index: 400;
        height: 100px;
    }

    #heading .secondary-card {
        display: initial;
        height: 54px;
        background-color: black;
        flex: 1
    }

    #heading .header-background {
        height: 104px;
        background-color: var(--header-background-color);
        position: relative;
        display: block;
    }

    #heading .border {
        clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75% + 4px) 54px, calc(75% - 54px + 4px) 100%, 0% 100%);
        background-color: black;
        z-index: 200;
        position: absolute;
        width: 100%;
        height: 100px;
        top: 4px;
    }
    
    #heading .border::after {
        content: '';
        clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75% + 2px) 54px, calc(75% - 54px + 2px) 100%, 0% 100%);
        background-color: yellow;
        z-index: 300;
        position: absolute;
        width: 100%;
        height: 100px;
        top: -2px;
    }

    #heading .secondary-information {
        background-color: #dedede;
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        column-gap: 16px;
    }
    
    #heading .secondary-information nav ul {
        list-style: none;
        display: flex;
        padding-inline-start: 0;
        margin-block: 0;
        font-size: 1.2em;
        height: 100%;
    }
    
    #heading .secondary-information nav ul li {
        display: block;
        padding-inline-end: 16px;
    }
    
    #heading .secondary-information nav ul li:last-child {
        padding-inline-end: 0;
    }
    
    #heading .secondary-information nav ul li a {
        text-decoration: none;
        color: black;
        display: flex;
        column-gap: 4px;
        align-items: center;
        padding-block: 4px;
        padding-inline: 4px;
        height: 100%;
    }
    
    #heading .secondary-information nav ul li a .text {
        font-size: 1.25em;
    }
    
    #heading .secondary-information nav ul li a .material-sybols-outlined {
        font-weight: normal;
    }
    
    #heading .secondary-information nav ul li a:hover {
        background-color: red;
    }
    
    #heading .secondary-information .status {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.25em;
    }

    #mobile-nav {
        display: none;
    }

    /** DESKTOP MAIN */
    #main {
        padding-left: 12px;
        width: 50%;
    }

    .main-wrapper {
        padding-block: 16px;
    }

    /** DESKTOP POSTS */
    .posts {
        max-width: 600px;
        margin: auto;
    }

    .posts .post-container {
        margin-bottom: 16px;
    }

    .post-container .post {
        box-shadow: var(--post-desktop-shadow);
        border: var(--border);
    }

    .post-heading .post-metadata {
        padding: 4px;
    }

    .post-heading.sticky {
        position: sticky;
    }
}