html {
    --font-size: 15px;
    --outline-color: blue;
    --outline: 2px solid var(--outline-color);
    --background-color: #bd2110;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    --header-background-color: #dedede;
    --title-color: white;
    --title-background-color: black;

    /** BORDER STUFF */
    --border-color: black;
    --border: 2px solid var(--border-color);
    --border-thin: 1px solid var(--border-color);

    /** POST STUFF */

    --post-mobile-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
    --post-desktop-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    --post-color: white;
    --post-background-color: #393939;
    --post-header-background-color: #dedede;
    --post-header-color: black;
    --post-header-link-hover-color: red;
    --post-hamburger-color: #99cc33;
    --post-header-pin-color: white;
    --post-header-pin-background-color: black;
    --post-link-color: #0f0;
    --post-link-hover-color: #0ff;

    /* SIDE PANEL STUFF */
    --side-panel-color: white;
    --side-panel-background-color: black;
    --side-panel-secondary-background-color: #222;
    --side-panel-link-hover-color: #300;
    --side-panel-link-highlight-color: yellow;
    --side-panel-link-highlight: 4px solid var(--side-panel-link-highlight-color);
    --side-panel-link-highlight-hover-color: #ffaa00;
    --side-panel-link-icon-hover-color: #fdd;
    --side-panel-tag-list-background-color: #222;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", Arial, "Courier New", Courier, monospace;
    font-size: var(--font-size);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: var(--outline);
}

body {
    background-color: var(--background-color);
}

@keyframes checkerboard {
    from {background-position: 0;}
    to {background-position: -50px;}
}

.checkerboard-pattern {
    height: calc(100vh + 100px);
    width: calc(100vw + 100px);
    background: repeating-linear-gradient(transparent, transparent 24px, #841808 24px, #841808 26px, transparent 26px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 24px, #841808 24px, #841808 26px, transparent 26px, transparent 50px);
    position: fixed;
    z-index: -999; /* far background */

    animation: checkerboard 1s infinite;
    animation-timing-function: linear;
}

#heading {
    width: 100vw;
    border-bottom: var(--border);
}

#heading .title-information {
    display: flex;
    width: 100%;
    min-height: 100px;
}

#heading .title-card {
    background-color: var(--title-background-color);
    flex: 3;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
}

#heading .title-avatar {
    height: 80px;
}

#heading .title {
    margin: 0;
    color: var(--header-background-color);
    flex: 1;
    text-align: center;
}

#heading .secondary-card {
    display: none;
}

#heading .header-background {
    display: none;
}

#heading .border {
    background-color: yellow;
    height: 4px;
}

#heading .secondary-information {
    display: none;
}

/** MOBILE NAVIGATION */
#mobile-nav {
    display: block;
    background-color: #dedede;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: var(--border);
    transition: top 0.3s;
}

#mobile-nav nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
    font-size: 1.2em;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

#mobile-nav nav ul li {
    display: inline-flex;
    padding-inline-end: 8px;
    margin: auto;
}

#mobile-nav nav ul li:last-child {
    padding-inline-end: 0;
}

#mobile-nav nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    padding: 12px;
    height: 100%;
}

#mobile-nav nav ul li a .text {
    font-size: 1.25em;
}

#mobile-nav nav ul li a .material-sybols-outlined {
    font-weight: normal;
}

#mobile-nav nav ul li a:hover {
    background-color: red;
}

/** MAIN */
#main {
    padding: 12px 0;
}

#main .main-wrapper {
    padding-block-end: 12px;
}

/** POSTS */

.post-container {
    margin-block-end: 20px;
}

.post-container:last-child {
    margin-block-end: 0;
}

.post-container .pin-check, .post-container .post-heading .notes-check {
    background-color: var(--post-header-pin-background-color);
    color: var(--post-header-pin-color);
    padding-block: 4px 2px;
    padding-inline: 8px 14px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 50%;
    clip-path: polygon(0 0, 0 calc(100% + 4px), 100% calc(100% + 4px), calc(100% - 12px) 0);
}

.not-hamburger {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
    min-height: 24px;
}

.not-hamburger div {
    background-color: var(--post-hamburger-color);
    aspect-ratio: 1 / 3;
    height: 100%;
    transform: skew(15deg);
}

.post-container .post {
    box-shadow: var(--post-mobile-shadow);
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: var(--post-background-color);
}

.post figure, .post figure a {
    line-height: 0;
}

.post figure a {
    display: block;
}

.post-heading .post-info {
    background-color: var(--post-header-background-color);
    border-bottom: var(--border);
}

.post-heading .post-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    overflow: auto;
    gap: 4px;
}

.post-heading .post-info .post-metadata * {
    color: var(--post-header-color);
    text-decoration: none;
    vertical-align: middle;
}

.post-heading .post-metadata a:hover {
    color: var(--post-header-link-hover-color);
}

.post-heading .post-info .post-metadata .reblogged-from .material-symbols-outlined {
    margin-inline-end: 4px;
}

.post-heading .post-title {
    background-color: white;
    margin: 0;
    text-align: center;
}

.post-heading .additional-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
}

.additional-info .actions {
    padding-inline-end: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    margin-block: auto;
}

.additional-info .actions .tag-toggle {
    border: none;
    background: none;
}

.tag-toggle:hover {
    cursor: pointer;
}

.tag-toggle:focus-visible {
    outline: var(--outline);
}

.post .media {
    width: 100%;
    border-bottom: var(--border);
}

.post .media figure img {
    object-fit: contain;
    width: 100%;
}

.post-body {
    background-color: var(--post-background-color);
    color: var(--post-color);
    padding: 4px 8px;
}

.post-body > * {
    margin-block-start: 0;
    margin-block-end: 1em;
}

.post-body > *:last-child {
    margin-bottom: 0;
}

.post-body a {
    color: var(--post-link-color);
    transition: color 0.5s linear;
}

.post-body a:hover {
    color: var(--post-link-hover-color);
    transition-duration: 0.5s;
}

.post-container footer {
    width: 100%;
    background-color: var(--post-header-background-color);
    border-top: var(--border);
    padding: 4px;
}

.post-container footer.hidden {
    display: none;
}

.post-container footer .tag-list {
    display: block;
    list-style: none;
    padding-inline-start: 0;
    font-size: 0px;
}

.post-container footer .tag {
    display: inline;
    font-size: var(--font-size);
    color: var(--post-header-color);
    text-decoration: none;
    margin-inline-end: 8px;
}

.post-container footer .tag:last-of-type {
    margin-inline-end: 0;
}

.post-container footer .tag::before {
    content: '#';
    margin-inline-end: 2px;
}

.post-container footer .tag a {
    color: var(--post-header-color);
    text-decoration: none;
}

.post-container footer .tag a:hover {
    color: var(--post-header-link-hover-color);
}

#side-panel {
    display: none;
}

/** TODO: change to screen */
@media screen and (min-width: 700px) {
    #heading {
        position: sticky;
        top: 0;
        z-index: 500;
        box-shadow: var(--shadow);
    }

    #heading .title-information {
        position: absolute;
        top: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75%) 54px, calc(75% - 54px) 100%, 0% 100%);
        z-index: 400;
        height: 100px;
    }

    #heading .secondary-card {
        display: initial;
        height: 54px;
        background-color: black;
        flex: 1
    }

    #heading .header-background {
        height: 104px;
        background-color: var(--header-background-color);
        position: relative;
        display: block;
    }

    #heading .border {
        clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75% + 4px) 54px, calc(75% - 54px + 4px) 100%, 0% 100%);
        background-color: black;
        z-index: 200;
        position: absolute;
        width: 100%;
        height: 100px;
        top: 4px;
    }
    
    #heading .border::after {
        content: '';
        clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75% + 2px) 54px, calc(75% - 54px + 2px) 100%, 0% 100%);
        background-color: yellow;
        z-index: 300;
        position: absolute;
        width: 100%;
        height: 100px;
        top: -2px;
    }

    #heading .secondary-information {
        background-color: #dedede;
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        column-gap: 16px;
    }
    
    #heading .secondary-information nav ul {
        list-style: none;
        display: flex;
        padding-inline-start: 0;
        margin-block: 0;
        font-size: 1.2em;
        height: 100%;
    }
    
    #heading .secondary-information nav ul li {
        display: block;
        padding-inline-end: 16px;
    }
    
    #heading .secondary-information nav ul li:last-child {
        padding-inline-end: 0;
    }
    
    #heading .secondary-information nav ul li a {
        text-decoration: none;
        color: black;
        display: flex;
        column-gap: 4px;
        align-items: center;
        padding-block: 4px;
        padding-inline: 4px;
        height: 100%;
    }
    
    #heading .secondary-information nav ul li a .text {
        font-size: 1.25em;
    }
    
    #heading .secondary-information nav ul li a .material-sybols-outlined {
        font-weight: normal;
    }
    
    #heading .secondary-information nav ul li a:hover {
        background-color: red;
    }
    
    #heading .secondary-information .status {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.25em;
    }

    #mobile-nav {
        display: none;
    }

    /** DESKTOP MAIN */
    #main {
        padding-left: 12px;
        width: 50%;
    }

    .main-wrapper {
        padding-block: 16px;
    }

    /** DESKTOP POSTS */
    .posts {
        max-width: 600px;
        margin: auto;
    }

    .posts .post-container {
        margin-bottom: 16px;
    }

    .post-container .post {
        box-shadow: var(--post-desktop-shadow);
        border: var(--border);
    }

    .post-heading .post-metadata {
        padding: 4px;
    }

    .post-heading.sticky {
        position: sticky;
    }

    #side-panel {
        display: flex;
        justify-content: flex-end;
        overflow: auto;
        position: fixed;
        top: 150px;
        right: 0;
        width: 50%;
        padding: 16px;
    }

    #side-panel .sidebar {
        max-width: 400px;
        margin: auto;
    }

    #side-panel .additional-intro {
        color: var(--side-panel-color);
        border: var(--border);
    }

    #side-panel .additional-intro h2 {
        background-color: var(--side-panel-background-color);
        text-align: center;
        padding: 4px;
        font-size: 1.6em;
        border-bottom: var(--border-thin);
    }

    #side-panel .additional-intro .description {
        background-color: var(--side-panel-secondary-background-color);
        padding: 4px;
    }

    #side-panel .secondary-nav ul {
        list-style: none;
        padding-inline-start: 0;
    }

    #side-panel .secondary-nav ul li {
        background-color: var(--side-panel-background-color);
        margin-block: 1em;
        position: relative;
        border: var(--border);
    }

    #side-panel .secondary-nav ul li:hover {
        border-color: var(--side-panel-link-hover-color);
    }

    #side-panel .secondary-nav ul li a {
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--side-panel-color);
        text-decoration: none;
        font-size: 1.2em;
        padding: 8px;
        padding-inline-start: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    #side-panel .secondary-nav ul li a::before,
    #side-panel .secondary-nav ul li a::after {
        content: '';
        position: absolute;
        width: 8px;
        top: 0;
        left: 0;
        height: calc(100% - 8px);
        border: 4px solid var(--side-panel-link-highlight-color);
    }

    #side-panel .secondary-nav ul li a::before {
        border-inline-end: none;
    }

    #side-panel .secondary-nav ul li a::after {
        left: 36px;
        border-inline-start: none;
    }

    #side-panel .secondary-nav ul li a:hover {
        background-color: var(--side-panel-link-hover-color);
    }

    #side-panel .secondary-nav ul li a:hover::before,
    #side-panel .secondary-nav ul li a:hover::after {
        border-color: var(--side-panel-link-highlight-hover-color);
    }

    #side-panel .secondary-nav ul li a:hover .icon {
        color: var(--side-panel-link-icon-hover-color);
    }

    #side-panel .secondary-nav ul .text {
        flex: 1;
        text-align: center;
    }

    #side-panel .popular-tags {
        margin-block-start: 1em;
        color: var(--side-panel-color);
        border: var(--border);
        border-bottom: none;
    }

    #side-panel .popular-tags .tag-title {
        background-color: var(--side-panel-background-color);
        text-align: center;
        padding: 4px;
        border-bottom: var(--border-thin);
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        display: flex;
        align-items: center;
    }

    #side-panel .popular-tags .tag-title h2 {
        font-size: 1.6em;
        flex: 1;
    }

    #side-panel .popular-tags .tag-title:hover {
        cursor: pointer;
    }

    #side-panel .tag-list {
        background-color: var(--side-panel-secondary-background-color);
    }

    #side-panel .tag-list ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    #side-panel .tag-list ul li {
        flex: 1;
        flex-basis: 50%;
        inline-size: 50%;
    }

    #side-panel .tag-list ul li a {
        display: block;
        color: var(--side-panel-color);
        text-align: center;
        text-decoration: none;
        padding: 8px 4px;
        border-inline-start: var(--border);
        border-block-end: var(--border);
    }

    #side-panel .tag-list ul li:nth-child(2n+1) a {
        border-inline-start: none;
    }

    #side-panel .tag-list ul li a:hover {
        background-color: var(--side-panel-link-hover-color);
    }
}