body.mobile > header {
    position: initial;
    box-shadow: none;
}

.mobile #heading .title-information {
    clip-path: none;
    position: initial;
    height: auto;
    min-height: 100px;
}

.mobile #heading .title-card {
    align-items: center;
}

.mobile #heading .title {
    margin: 0;
}

.mobile #heading .secondary-card {
    display: none;
}

.mobile #heading .border {
    clip-path: none;
    position: initial;
    background-color: yellow;
    height: 4px;
}

.mobile #heading .border::after {
    display: none;
    clip-path: none;
    position: initial;
}

.mobile .secondary-information {
    position: sticky;
    top: 0;
    padding-top: 0;
    display: none;
}

.mobile #mobile-nav {
    display: block;
    background-color: #dedede;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid black;
}

#mobile-nav nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
    font-size: 1.2em;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

#mobile-nav nav ul li {
    display: inline-flex;
    padding-inline-end: 8px;
    margin: auto;
}

#mobile-nav nav ul li:last-child {
    padding-inline-end: 0;
}

#mobile-nav nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    column-gap: 4px;
    align-items: center;
    padding: 16px;
    height: 100%;
}

#mobile-nav nav ul li a .text {
    font-size: 1.25em;
}

#mobile-nav nav ul li a .material-sybols-outlined {
    font-weight: normal;
}

#mobile-nav nav ul li a:hover {
    background-color: red;
}

.mobile #main {
    width: 100%;
    padding: 12px 0;
}

.mobile .main-wrapper {
    padding-block-start: 0;
}

.mobile .posts {
    max-width: initial;
}

.mobile .posts article {
    margin-bottom: 20px;
}

.mobile .posts article:last-child {
    margin-bottom: 0;
}

.mobile .posts article .post {
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
    border-inline: none;
}

.mobile #side-panel {
    display: none;
}

.mobile #footer {
    position: initial;
}