* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 2px solid blue; 
}

body {
    background-color: #bd2110;
}

.checkerboard-pattern {
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(transparent, transparent 24px, #841808 24px, #841808 26px, transparent 26px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 48px, #841808 48px, #841808 50px);
    position: fixed;
    z-index: -999; /* far background */
}

body > header {
    z-index: 500;
    position: fixed;
    width: 100vw;
    border-bottom: 2px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.title-information {
    display: flex;
    height: 100px;
    z-index: 400;
    clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75%) 54px, calc(75% - 54px) 100%, 0% 100%);
    position: fixed;
    top: 0;
    width: 100%;
}

.border {
    clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75% + 4px) 54px, calc(75% - 54px + 4px) 100%, 0% 100%);
    background-color: black;
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 4px;
}

.border::after {
    content: '';
    clip-path: polygon(0% 0%, 100% 0%, 100% 54px, calc(75% + 2px) 54px, calc(75% - 54px + 2px) 100%, 0% 100%);
    background-color: yellow;
    z-index: 300;
    position: absolute;
    width: 100%;
    height: 100px;
    top: -2px;
}

.title-card {
    background-color: black;
    flex: 3;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.title-card img {
    height: 80px;
}

.secondary-card {
    height: 54px;
    background-color: black;
    flex: 1;
}

.title {
    color: white;
    flex: 1;
    text-align: center;
}

.secondary-information {
    background-color: #dedede;
    padding-top: 104px;
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
    column-gap: 16px;
}

.secondary-information nav ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    margin-block: 0;
    font-size: 1.2em;
    height: 100%;
}

.secondary-information nav ul li {
    display: block;
    padding-inline-end: 16px;
}

.secondary-information nav ul li:last-child {
    padding-inline-end: 0;
}

.secondary-information nav ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    column-gap: 4px;
    align-items: center;
    padding-block: 4px;
    padding-inline: 4px;
    height: 100%;
}

.secondary-information nav ul li a .text {
    font-size: 1.25em;
}

.secondary-information nav ul li a .material-sybols-outlined {
    font-weight: normal;
}

.secondary-information nav ul li a:hover {
    background-color: red;
}

.secondary-information .status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.25em;
}

#mobile-nav {
    display: none;
}

/* MAIN */
main {
    padding: 12px;
    padding-top: 150px;
    padding-right: 0;
    width: 50%;
}

.main-wrapper {
    padding-block: 16px;
}

.posts {
    max-width: 600px;
    margin: auto;
}

.posts article {
    margin-bottom: 16px;
}

.posts article:last-child {
    margin-bottom: 0;
}

article .pin-check, article header .notes-check {
    background-color: black;
    color: white;
    padding-block: 4px 2px;
    padding-inline: 8px 14px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 50%;
    clip-path: polygon(0 0, 0 calc(100% + 4px), 100% calc(100% + 4px), calc(100% - 12px) 0);
}

.not-hamburger {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
    min-height: 24px;
}

.not-hamburger div {
    background-color: #99cc33;
    aspect-ratio: 1 / 3;
    height: 100%;
    transform: skew(15deg);
}

article header .post-info {
    background-color: #dedede;
    border-bottom: 2px solid black;
}

article header .post-info .post-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    overflow: auto;
    gap: 4px;
}

.post-info .post-metadata .reblogged-from {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 4px;
}

.post-metadata a {
    color: black;
    text-decoration: none;
}

article header .post-info .post-title {
    background-color: white;
    margin: 0;
    text-align: center;
}

article header .additional-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
}

.additional-info .actions {
    padding-inline-end: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
}

.additional-info .actions button {
    border: none;
    background: none;
}

.additional-info .actions button:hover {
    cursor: pointer;
}

.additional-info .actions button:focus-visible {
    outline: 2px solid blue;
}

.post-body {
    background-color: #393939;
    color: white;
    padding: 4px;
}

.post-body > * {
    margin-block-start: 0;
    margin-block-end: 1em;
}

.post-body > *:last-child {
    margin-bottom: 0;
}

.post-body a {
    color: #00ff00;
}

.post-body a:hover {
    color: #00ffff;
    transition-duration: 0.5s;
}

article footer {
    width: 100%;
    background-color: #dedede;
    border-top: 2px solid black;
    padding: 4px;
}

article footer.hidden {
    display: none;
}

article footer .tag-list {
    display: block;
    list-style: none;
    padding-inline-start: 0;
    font-size: 0px;
}

article footer .tag {
    display: inline;
    color: black;
    text-decoration: none;
    margin-inline-end: 8px;
    font-size: 16px;
}

article footer .tag a {
    color: black;
    text-decoration: none;
}

article footer .tag a:hover {
    color: red;
}

article footer .tag:last-child {
    margin-inline-end: 0;
}

article footer .tag:hover {
    color: red;
}

article .post {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    background-color: black;
}

.media {
    width: 100%;
    border-bottom: 2px solid black;
}

.post figure, .post figure a {
    line-height: 0;
}

.media figure a {
    display: block;
}

.media figure img {
    object-fit: contain;
    width: 100%;
}

/* ASIDE CONTENT */

aside {
    position: fixed;
    top: 150px;
    right: 0;
    width: 50%;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

.sidebar {
    max-width: 400px;
    margin: auto;
}

.sidebar .additional-intro {
    color: white;
    border: 2px solid black;
}

.sidebar .additional-intro h2 {
    background-color: black;
    text-align: center;
    padding: 4px;
    font-size: 1.6em;
    border-bottom: 1px solid black;
}

.sidebar .additional-intro .description {
    background-color: #222;
    padding: 4px;
}

.sidebar .secondary-nav ul {
    list-style: none;
    padding-inline-start: 0;
}

.sidebar .secondary-nav ul li {
    background-color: black;
    margin-block-start: 1em;
    position: relative;
    border: 2px solid black;
}

.sidebar .secondary-nav ul li:hover {
    border-color: #300;
}

.sidebar .secondary-nav ul li a {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px;
    padding-inline-start: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar .secondary-nav ul li a::before {
    content: '';
    position: absolute;
    width: 8px;
    top: 0;
    left: 0;
    height: calc(100% - 8px);
    border-block: 4px solid yellow;
    border-inline-start: 4px solid yellow;
}

.sidebar .secondary-nav ul li a::after {
    content: '';
    position: absolute;
    width: 8px;
    top: 0;
    left: 36px;
    height: calc(100% - 8px);
    border-block: 4px solid yellow;
    border-inline-end: 4px solid yellow;
}

.sidebar .secondary-nav ul li a:hover::before, .sidebar .secondary-nav ul li a:hover::after {
    border-color: #ffaa00;
}

.sidebar .secondary-nav ul li a:hover .icon {
    color: #FFDDDD;
}

.sidebar .secondary-nav ul li a:hover {
    background-color: #330000;
}

.sidebar .secondary-nav ul li a .icon {
    position: relative;
}

.sidebar .secondary-nav ul li a .text {
    flex: 1;
    text-align: center;
}

.sidebar .popular-tags {
    margin-block-start: 1em;
    color: white;
    border: 2px solid black;
    border-bottom: none;
}

.sidebar .popular-tags .tag-title {
    background-color: black;
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    align-items: center;
}

.sidebar .popular-tags .tag-title:hover {
    cursor: pointer;
}

.sidebar .popular-tags .tag-title h2 {
    font-size: 1.6em;
    flex: 1;
}

.sidebar .popular-tags .tag-list {
    background-color: #222;
}

.sidebar .popular-tags .tag-list.hidden {
    display: none;
}

.sidebar .popular-tags .tag-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sidebar .popular-tags .tag-list ul li {
    flex: 1;
    flex-basis: 50%;
    inline-size: 50%;
}

.sidebar .popular-tags .tag-list ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 4px;
    border-inline-start: 2px solid black;
    border-block-end: 2px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .popular-tags .tag-list ul li:nth-child(2n+1) a {
    border-inline-start: none;
}

.sidebar .popular-tags .tag-list ul li a:hover {
    background-color: #400
}

/* FOOTER */
#footer {
    position: fixed;
    bottom: 0;
    padding: 8px 16px;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 500;
    border-block-start: 2px solid black;
    background: linear-gradient(#dedede, #555, #303030 40%);
}

#footer > * {
    flex: 1;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer .search {
    display: flex;
}

#footer .search-box {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: black;
    padding: 4px;
    position: relative;
    margin-inline-start: 4px;
    margin-block: auto;
    padding-inline-start: 12px;
    clip-path: polygon(100% 100%, 100% 0, 16px 0, 0 50%, 16px 100%);
}

#footer .search-text {
    border: none;
    background-color: transparent;
    color: white;
    margin-block: 8px;
}

#footer .search-text:focus-visible {
    outline: none;
}

#footer .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#footer a:hover {
    color: #faa;
}

#footer .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

#footer .actions .action {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#footer .actions .toggle {
    color: white;
    background-color: transparent;
    border: none;
}

#footer .actions .toggle:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.1);
}